{{ $pages := .Pages }}
{{ if .IsHome }}
{{ $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
{{ end }}

{{ if eq site.Params.pinFeatured true }}
{{ $featured := default 8 site.Params.numberOfPinnedPosts }}
{{ $featuredPosts := first $featured (where $pages "Params.featured" true)}}
{{ $normalPosts := $pages | symdiff $featuredPosts }}
{{ $pages = $featuredPosts | append $normalPosts }}
{{ end }}

{{ $imagesPath := printf "../%s" (default "images/" .Site.Params.imagesDir) }}
{{ $url := printf "%stags/" .Site.BaseURL }}



{{ if not (and (strings.HasPrefix .Page.Permalink $url) (strings.HasSuffix .Page.Permalink "/")) }}

<div class="video_container" id="full-page-header">
  <video style="position: relative;" class="header_vid" autoplay="" loop="" muted="" playsinline=""
    data-wf-ignore="true" data-object-fit="cover">
    <source src="./videos/header2.ogv" type="video/ogg" data-wf-ignore="true">
    <source src="./videos/header2.mov" type="video/mp4" data-wf-ignore="true">
    <source src="./videos/header2.webm" type="video/webm" data-wf-ignore="true">
    <source src="./videos/header2.mp4" type="video/mp4" data-wf-ignore="true">
  </video>
  <h1>Your go-to technical marketing team</h1>
  <a href="#header" class="button"> <i class="fas fa-hand-point-down"></i> Check Us Out!</a>

</div>


<header id="header" class="header">

  <div class="elements">

    <div class="text">

      <h1 class="tagline">Marketing that moves. Growth that thrills.
        <b>Get started today with a free quote!</b>
      </h1>
      <p>Our technical marketing service combines cutting-edge digital strategies with deep technical expertise to
        elevate your product's visibility and drive growth. From targeted SEO optimizations to compelling content
        creation, we harness the power of technology to connect your brand with the right audience, maximize
        conversions, and propel your business forward in the digital landscape. Partner with us to unlock new
        opportunities and achieve your marketing objectives with confidence.</p>
      <a href="/services" class="button">Boost Your Digital Brand Today!</a>
    </div>
    <img src="./images/header_1.png">
  </div>

  <style>
    .tech_debt_crew {
      display: flex;
      width: 100%;
      max-width: 1440px;
      margin: 2% auto;
    

      i {
        font-size: 200%;
        margin-top: 4%;
        flex-grow: 1;
        height: a;
        /* margin-right: 3%; */
        cursor: pointer;
        @media screen and (max-width: 625px) {
          font-size: 100% !important;
        }
        @media screen and (min-width: 700px) and(max-width: 1300px){
          font-size: 100%;
          margin-left: 20% !important;
        }
      }

      a{
        margin-right: 10%;

       @media screen and (min-width: 700px) and (max-width: 1300px) {
        margin-right: 3% !important;
        margin-top: 3% !important;
        margin-bottom: 3% !important;
        
       }

        @media screen and (max-width: 625px) {
          margin-right: 5% !important;
        };

        

      }

      i:hover{
        color: var(--highlight);
      }

      .container {
        display: flex;
        width: 45%;


        .text {
          background-color: rgb(172, 139, 32);
          width: 80%;
          margin: 2% 2%;
          border-radius: 0.5rem;
          padding: 5px;
          text-align: center;
          border: 1px solid var(--text);
        }

        img {
          width: 30%;
        }

      }

    }
  </style>




</header>


<div id="free_quote">



   
  <div class="text ">

    <h1 class="highlight">Technical Career Consulting</h1>
    <img src="./images/career.png" class="mobile_image" >

    <h5>
      Your Pathway to Success in the Tech Industry
    </h5>
    <p>
      Looking to make the leap into the tech industry? As a consultant with NuCamp, I'm here to support you every step of the way. Our free consultation service provides expert guidance tailored to your unique career transition needs. Whether you're a newcomer or a seasoned professional, we'll work together to craft a personalized roadmap for your journey into tech.


    </p>
    <a href="https://calendly.com/adriana-ppro/30min" class="button">Schedule Your Free Consultation</a>
  </div>

  

  <div class="container" style="background-image: url('./images/career.png');">

  </div>



 

</div>

<div id="free_quote" style="margin-bottom: 1%;">
  

  <div class="container">

  </div>



  
  <div class="text ">
    <h1 class="highlight">Unlock Growth with Expert Marketing Strategies from Tech Debt Crew</h1>
    <img src="./images/promotion.png" class="mobile_image" >

    <h5>
      Empower Your Business with Customized Marketing Solutions Tailored to Your Goals
    </h5>
    <p>
      At Tech Debt Crew, we specialize in crafting bespoke marketing strategies that resonate with your audience and
      drive growth. From comprehensive digital campaigns to targeted SEO tactics, we're here to amplify your brand's
      presence in the digital landscape. 

    </p>
    <a href="https://calendly.com/techdebtcrew/30min" class="button">Schedule Your Free Consultation</a>
  </div>


</div>

<div class="perks">
  <div id="perks">


    <div class="headline">
      <h1>Craft Your Brand Story. Elevate Your Business.
      </h1>
      <p>We're your one-stop shop for complete brand transformation. From captivating logos and web design to strategic
        brand development, we help you tell your unique story and stand out in the crowd. Let us breathe life into your
        vision and drive your business forward.

      </p>
    </div>
  </div>
  <a class="button box" href="/services">Learn More</a>
</div>

<div class="intro_video">

  <video autoplay="" loop="" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
    <!-- <source src="./videos/video.ogv" type="video/ogg" data-wf-ignore="true"> -->
    <source src="./videos/video.mov" type="video/mp4" data-wf-ignore="true">
    <source src="./videos/video.webm" type="video/webm" data-wf-ignore="true">
    <source src="./videos/video.mp4" type="video/mp4" data-wf-ignore="true">
  </video>


  <style>
    ul,
    ol {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  </style>
  <div class="text">
    <h1>🔐 Why Choose the Tech Debt Crew?</h3>
      <ul>
        <li><b class="highlight">
            <h2>Technical SEO audit:</h2>
          </b> Our expert team will analyze every aspect of your site's technical setup to identify and resolve issues that may be holding back your search engine rankings</li>
        <li><b class="highlight">
            <h2>Content creation:</h2>
          </b>  Our team of experienced writers and creatives will craft engaging and high-quality content that resonates with your audience and drives results. From blog posts to social media content, we'll help you tell your brand's story and stand out in the digital landscape.</li>
        <li><b class="highlight">
            <h2>Web development:</h2>
          </b> Our team of skilled developers will work closely with you to build responsive, user-friendly websites that capture your brand's essence and drive engagement.
        </li>
        <li><b class="highlight">
            <h2>Graphic design:</h2>
          </b> From captivating logos to stunning marketing collateral, our talented designers craft visually compelling assets tailored to your brand's unique personality and objectives. </li>
      </ul>
      <!-- <a href="#" class="button">Get Your Free Quote Today!</a> -->


  </div>



</div>






<div id="events-container">

  <h1>Community Outreach:</h1>


  <div id="event-cards"></div>
  <div id="events-pagination"></div>
  <img class="image" src="./images/hand.png">
  <div class="ml-embedded" data-form="djquOD"></div>

</div>


<!-- <div id="free_quote">

  <div class="container" style="background-image: url('./images/cyber-bae1.png');">

  </div>
  <div class="text ">
    <h1 class="highlight">Empowering Women in Cybersecurity</h1>
    <img src="./images/cyber-bae1.png" class="mobile_image" >

    <h5>
      Join Us in Supporting Cyber Bae
    </h5>
    <p>
      At TechDebtCrew, we are proud to partner with Cyber Bae, a women-led cybersecurity organization dedicated to
      training, staffing, and educating individuals looking to enter the cybersecurity field. Through our collaboration,
      we aim to provide opportunities and resources for women pursuing careers in cybersecurity, fostering a diverse and
      inclusive industry.
    </p>
    <a href="https://cyber-bae.github.io/Cyber-Bae/#" class="button">Check Them Out!</a>
  </div>

</div>

<div id="free_quote">

  <div class="text ">
    <h1 class="highlight">Reach Your Audience with Our Magazine Publishing Services</h1>
    <img src="./images/publishing.png" class="mobile_image" >
    <h5>
      Elevate Your Brand in the Macon Community
    </h5>
    <p>
      We specialize in creating stunning magazines that captivate audiences and showcase the best of what your business
      has to offer. With our custom publishing services, you can effectively promote your products and services to the
      local community, build brand awareness, and attract new customers.

    </p>
    <a href="https://calendly.com/techdebtcrew/30min" class="button">Learn More</a>
  </div>

  <div class="container" style="background-image: url('./images/publishing.png');">

  </div>

</div> -->

<img class="accent_img" src="./images/footer_accent.png">

<div class="sponsors">
  <h3>TechDebtCrew is Proudly Sponsored By:</h3>
  <div id="sponsor_list">

  </div>
</div>

{{- end}}

{{- if and (strings.HasPrefix .Page.Permalink ($url) ) (strings.HasSuffix .Page.Permalink "/") }}


<div class="grid-inverse wrap content">
  <div>
    <h2><a>Blog</a></h2>
    <ul class="posts" id="posts">
      {{- range (.Paginate $pages).Pages }}
      {{ partial "excerpt" . }}
      {{- end }}
      <li>
        {{- template "_internal/pagination.html" . }}
      </li>
    </ul>
  </div>
</div>

{{- end}}