{{ $pages := .Pages }}
{{ if .IsHome }}
{{ $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
{{ end }}

{{ if eq site.Params.pinFeatured true }}
{{ $featured := default 8 site.Params.numberOfPinnedPosts }}
{{ $featuredPosts := first $featured (where $pages "Params.featured" true)}}
{{ $normalPosts := $pages | symdiff $featuredPosts }}
{{ $pages = $featuredPosts | append $normalPosts }}
{{ end }}

{{ $imagesPath := printf "../%s" (default "images/" .Site.Params.imagesDir) }}
{{ $url := printf "%stags/" .Site.BaseURL }}



{{ if not (and (strings.HasPrefix .Page.Permalink $url) (strings.HasSuffix .Page.Permalink "/")) }}


<header class="header">

  <div class="elements">

    <div class="text">

      <h1 class="tagline">Marketing that moves. Growth that thrills.
        <b>Get started today with a free quote!</b>
      </h1>
      <p>Our technical marketing service combines cutting-edge digital strategies with deep technical expertise to
        elevate your product's visibility and drive growth. From targeted SEO optimizations to compelling content
        creation, we harness the power of technology to connect your brand with the right audience, maximize
        conversions, and propel your business forward in the digital landscape. Partner with us to unlock new
        opportunities and achieve your marketing objectives with confidence.</p>
      <a href="/services" class="button">Boost Your Digital Brand Today!</a>
    </div>
    <img src="./images/header_1.png">
  </div>

  <style>
    .tech_debt_crew {
      display: flex;
      width: 100%;
      max-width: 1440px;
      margin: 2% auto;
    

      i {
        font-size: 200%;
        margin-top: 4%;
        flex-grow: 1;
        /* margin-right: 3%; */
        cursor: pointer;
        @media screen and (max-width: 625px) {
          font-size: 100% !important;
        }
        @media screen and (min-width: 700px) and(max-width: 1300px){
          font-size: 100%;
          margin-left: 20% !important;
        }
      }

      a{
        margin-right: 10%;

       @media screen and (min-width: 700px) and (max-width: 1300px) {
        margin-right: 3% !important;
        margin-top: 3% !important;
        margin-bottom: 3% !important;
        
       }

        @media screen and (max-width: 625px) {
          margin-right: 5% !important;
        };

        

      }

      i:hover{
        color: var(--highlight);
      }

      .container {
        display: flex;
        width: 45%;


        .text {
          background-color: rgb(172, 139, 32);
          width: 80%;
          margin: 2% 2%;
          border-radius: 0.5rem;
          padding: 5px;
          text-align: center;
          border: 1px solid var(--text);
        }

        img {
          width: 30%;
        }

      }

    }
  </style>

  <div class="tech_debt_crew">
    <a href="mailto:info@techdebtcrew.com"><i class="fas fa-envelope"> info@techdebtcrew.com</i></a>
    <a  href="https://discord.gg/RNPZT8zxtx"><i class="fab fa-discord"> Join the Crew</i></a>


    <!-- <div class="container">
      <div class="text box">
        <h2>Check Out Our Community</h2>
        <p>We've provided a free platform for you to ask your essential questions and network</p>
        <a class="button box" href="/services">Join the Crew</a>
      </div>
      <img src="./images/peaking.png">
    </div> -->


  </div>



</header>

<div id="free_quote">

  <div class="container">

  </div>
  <div class="text ">
    <h1 class="highlight">Unlock Growth with Expert Marketing Strategies from Tech Debt Crew</h1>
    <h5>
      Empower Your Business with Customized Marketing Solutions Tailored to Your Goals
    </h5>
    <h8>
      At Tech Debt Crew, we specialize in crafting bespoke marketing strategies that resonate with your audience and
      drive growth. From comprehensive digital campaigns to targeted SEO tactics, we're here to amplify your brand's
      presence in the digital landscape. Take the first step towards transformative marketing success by scheduling your
      complimentary consultation with our experts today.

    </h8>
    <a href="https://calendly.com/techdebtcrew/30min" class="button">Schedule Your Free Consultation</a>
  </div>


</div>

<div class="perks">
  <div id="perks">
    <img class="accent_img" src="./images/accent.png">


    <div class="headline">
      <h1>Craft Your Brand Story. Elevate Your Business.
      </h1>
      <p>We're your one-stop shop for complete brand transformation. From captivating logos and web design to strategic
        brand development, we help you tell your unique story and stand out in the crowd. Let us breathe life into your
        vision and drive your business forward.

      </p>
    </div>
  </div>
  <a class="button box" href="/services">Learn More</a>
</div>

<div class="intro_video">

  <video autoplay="" loop="" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
    <!-- <source src="./videos/video.ogv" type="video/ogg" data-wf-ignore="true"> -->
    <source src="./videos/video.mov" type="video/mp4" data-wf-ignore="true">
    <source src="./videos/video.webm" type="video/webm" data-wf-ignore="true">
    <source src="./videos/video.mp4" type="video/mp4" data-wf-ignore="true">
  </video>


  <style>
    ul,
    ol {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  </style>
  <div class="text">
    <h1>🔐 Why Choose the Tech Debt Crew?</h3>
      <ul>
        <li><b class="highlight">
            <h2>Technical SEO audit:</h2>
          </b> Learn from industry professionals with hands-on experience.</li>
        <li><b class="highlight">
            <h2>Content creation:</h2>
          </b> Tackle practical challenges to enhance your problem-solving
          skills.</li>
        <li><b class="highlight">
            <h2>Web development:</h2>
          </b> Gain globally recognized certifications upon course completion.
        </li>
        <li><b class="highlight">
            <h2>Graphic design:</h2>
          </b> Engage in dynamic discussions and collaborate with peers.</li>
      </ul>
      <!-- <a href="#" class="button">Get Your Free Quote Today!</a> -->


  </div>



</div>



<img class="accent_img" src="./images/accent_2.png">

<div class="purpose">
  <div class="text">
    <!-- <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEibsvMmIxZ8pPkqv_Ih03p0P8NqE2PnyCv0H7b7X4u9i_AH9gxeyHWAHkSgsBlSu4L5XG-T4kvLkQKjZ5Y-WI-yRQE0MEt5A1rCUaJPiispn7h-_3lvA_g2KEiTm2KD3pM8PGNBhL-rWCrG4oDxbo2bxp3SuCtGTvnNUhnC4QlyAhZRppU/s1600/Beige%20Business%20Brand%20Color%20Wheel%20Palette%20Facebook%20Post%20(6).png"> -->
    <h1 class=""><a>Level Up Tech: A Solutions-Focused Technical Marketing Service Provider </a></h1>
    <h5>At Tech Debt Crew, our mission is to revolutionize the way businesses approach marketing by integrating advanced
      technology and innovative strategies. We strive to bridge the gap between traditional marketing and the digital
      frontier, ensuring our clients not only keep pace but lead the charge in their respective industries. Our
      commitment is to provide unparalleled service, actionable insights, and tangible results, turning marketing
      investments into measurable growth.
    </h5>
  </div>
</div>


<div id="events-container">

  <h1>Community Outreach:</h1>


  <div id="event-cards"></div>
  <div id="events-pagination"></div>
  <img class="image" src="./images/hand.png">

</div>


<div id="free_quote">

  <div class="container" style="background-image: url('./images/cyber-bae1.png');">

  </div>
  <div class="text ">
    <h1 class="highlight">Empowering Women in Cybersecurity</h1>
    <h5>
      Join Us in Supporting Cyber Bae
    </h5>
    <h8>
      At TechDebtCrew, we are proud to partner with Cyber Bae, a women-led cybersecurity organization dedicated to
      training, staffing, and educating individuals looking to enter the cybersecurity field. Through our collaboration,
      we aim to provide opportunities and resources for women pursuing careers in cybersecurity, fostering a diverse and
      inclusive industry.
    </h8>
    <a href="https://calendly.com/techdebtcrew/30min" class="button">Check Them Out!</a>
  </div>

</div>

<div id="free_quote">

  <div class="text ">
    <h1 class="highlight">Reach Your Audience with Our Magazine Publishing Services</h1>
    <h5>
      Elevate Your Brand in the Macon Community
    </h5>
    <h8>
      We specialize in creating stunning magazines that captivate audiences and showcase the best of what your business
      has to offer. With our custom publishing services, you can effectively promote your products and services to the
      local community, build brand awareness, and attract new customers.

    </h8>
    <a href="https://calendly.com/techdebtcrew/30min" class="button">Learn More</a>
  </div>

  <div class="container" style="background-image: url('./images/publishing.png');">

  </div>

</div>


<div class="sponsors">
  <h3>TechDebtCrew is Proudly Sponsored By:</h3>
  <div id="sponsor_list">

  </div>
</div>

{{- end}}

{{- if and (strings.HasPrefix .Page.Permalink ($url) ) (strings.HasSuffix .Page.Permalink "/") }}


<div class="grid-inverse wrap content">
  <div>
    <h2><a>Blog</a></h2>
    <ul class="posts" id="posts">
      {{- range (.Paginate $pages).Pages }}
      {{ partial "excerpt" . }}
      {{- end }}
      <li>
        {{- template "_internal/pagination.html" . }}
      </li>
    </ul>
  </div>
</div>

{{- end}}