{{- $s := .Site.Params }}
{{- $c := default .Site.Title .Site.Copyright }}
{{- if or .Params.enableMathNotation $s.enableMathNotation }}
{{ partialCached "math" . }}
{{- end }}
{{- $iconsDir := default "icons/" .Site.Params.iconsDir }}
{{- $defaultFooterLogo := printf "%s%s" $iconsDir "logo2.png"}}
{{ $base := .Site.BaseURL }}
{{ $about := printf "%s/about" $base }}
{{ $blog := printf "%s/blog" $base }}
{{ $services := printf "%s/services" $base }}



<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
  integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
<footer class="footer" style="overflow: hidden !important">
  <div class="footer_inner wrap pale">
    <!-- <img src='{{ absURL (default $defaultFooterLogo $s.footerLogo) }}' class="icon icon_2 transparent" alt="{{ $c }}"> -->
    <div class="elements">
      <div class="connect col">
        <h5><a href="#">Connect</a></h5>
        <div class="socials"><i class="fas fa-envelope"></i>
          <p><a href="#"> info@techdebtcrew.com</a></i></p>
        </div>
        <div class="socials"><i class="fab fa-facebook"></i>
          <p><a href="https://www.facebook.com/techygal"> Like us on Facebook</a></i></p>
        </div>
        <div class="socials"><i class="fab fa-github"></i>
          <p><a href="https://github.com/a-m-lamb"> Check us out on GitHub</a></i></p>
        </div>

        
      </div>

      <div class="courses col">
        <h5><a href="{{ $services }}">Services</a></h5>
        <!-- <p><a href="#">Service Packages</a></p> -->
  

      </div>
      <div class="company col">

        {{ $about := printf "%s/about" .Site.BaseURL }}
        {{ $blog := printf "%s/blog" .Site.BaseURL }}
        <h5><a href="{{ $about }}">About</a></h5>
        <p><a style= "z-index: 1000;" href ="{{ $blog }}">Blog</a></p>
        <p><a href="#">Privacy</a></p>
        <p><a href="#">Careers (Coming Soon)</a></p>

        <!-- <p><a href="#">Affiliate Program</a></p> -->
      </div>
      <div class="learn col">
        <h5>Learn More About Us</h5>
        {{ partial "search/widget" . }}
        <p style="margin-top: 75%;"><a href="#">2024 @Central Georgia Technical Solutions LLC. All Rights Reserved</a></p>

      </div>


    </div>
    {{- partialCached "top" .}}
  </div>
</footer>